---
import Layout from '../layouts/MainPage.astro';
---

<Layout
	title="Community - Brad Ito"
	description="Community Interests of Brad Ito"
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
		<h3>Public Speaking</h3>
              <ul>
                <li>
                  <a href="https://www.youtube.com/watch?v=gdZH7Anh_6w">Intro to Vue.js - Javascript LA</a>
                </li>
                <li>
                  DataOps for AI - <a href="https://www.meetup.com/dal-ai/events/262535888/">Dallas AI</a>
                </li>
              </ul>
	</section>

	<section>
		<h3>SUF Stack</h3>
              <p>
                Creator of the <a href="https://suf-stack.org/">SUF Stack</a> - Serverless, Universal, Full-stack web apps.  For improved
                developer and user performance and usability.
              </p>
	</section>

	<section>
		<h3>MIT Club of Dallas-Fort Worth</h3>
              <p>
                VP of Programs
              </p>
              <p>
                Prior board member of the MIT Club of Southern California
              </p>
	</section>

	<section>
		<h3>Creator of open source packages:</h3>
              <ul>
                <li>
                    <a href="https://pypi.org/project/parallel-parrot/">parallel-parrot</a>
                    - A library for easily and quickly using LLMs on tabular data
                </li>
                <li>
                    <a href="https://pypi.org/project/asyncio-anywhere/">asyncio-anywhere</a>
                    - Python package that makes it easy to run fast asyncio code
                </li>
                <li>
                  <a href="https://www.npmjs.com/package/generator-suf-stack-aws-koa-nuxt">suf-stack-aws-koa-nuxt</a>
                </li>
                <li>
                  <a href="https://www.npmjs.com/package/gulp-indexify">gulp-indexify</a>
                </li>
                <li>
                  <a href="https://github.com/phlogisticfugu/squirt">squirt</a>
                </li>
              </ul>
	</section>
</Layout>
