---
import Layout from '../layouts/MainPage.astro';
---

<Layout
	title="Curriculum Vitae - Brad Ito"
	description="Professional experience and education of Brad Ito"
	heroImage=""
>

	<section>
		<h4>Novex AI - CTO and Co-Founder</h4>
		<p>
			<a href="https://novex.ai/">Novex AI</a> delivers AI solutions for mid-sized companies.
			Led delivery of multiple projects effectively operationalizing machine learning and Generative AI.
		</p>
		<p>
			Tech: Python, AWS, GCP, Azure, OpenAI, Databricks
		</p>
		<ul>
			<li>
				<a href="/blog/parallel-parrot/">
					Accelerating LLM operations with parallel-parrot
				</a>
			</li>
			<li>
				<a href="/blog/llm-map/">
					Building a useful map of modern LLMs
				</a>
			</li>
		</ul>
	</section>

	<section>
		<h4>Retina AI - CTO and Co-Founder</h4>
		<p>
			<a href="https://retina.ai">Retina AI</a> is a venture-backed data science and machine learning company.
			Mutiple production web, dataops, big data, and data science products with a focus on predicting customer behavior.
		</p>
		<p>
			Tech: Javascript (Express.js, Vue.js, DevExtreme, Highcharts, Plotly), Python (Flask, FastAPI), R, Spark (Databricks), Serverless, Docker, Snowflake, Firebolt, AWS
		</p>
		<ul>
			<li><a href="https://retina.ai/media/">Retina AI in the media</a></li>
			<li><a href="https://retina.ai/blog/marketing-data-checklist/">Marketing Data Checklist</a></li>
			<li><a href="https://retina.ai/blog/7-ways-machine-learning-projects-fail/">7 Ways Machine Learning Projects Fail</a></li>
			<li><a href="https://retina.ai/blog/dataops-principles/">DataOps Principles</a></li>
			<li><a href="https://retina.ai/blog/serverless-principles/">Serverless Principles</a></li>
		</ul>
	</section>

	<section>
		<h4>Topaz Labs - Dir of Engineering</h4>
		<p>
			<a href="https://www.topazlabs.com/">Topaz Labs</a> uses AI to enhance images and video.  Led engineering team for this profitable, bootstrapped company.
		</p>
		<p>
			As featured by industry partners (Intel, AMD, NVIDIA, Microsoft, Apple), Topaz Labs is the leader in deep learning-based image and video enhancement for photographers.
			Topaz Labs products are used by tens of thousands of photographers and videographers around the world.
		</p>
		<p>
			Tech: C++ (Qt Framework), Python (Tensorflow, PyTorch, FastAPI), Javascript (React, Express), AWS
		</p>
	</section>

	<section>
		<h4>ScaleFunder - Dir of Engineering</h4>
		<p>
			Led software engineering team for this crowdfunding platform for universities and non-profits.  PCI Compliant platform.  Hybrid onshore/offshore team.
		</p>
		<p>
			Company was successfully acquired by <a href="https://www.ruffalonl.com/">Ruffalo Noel Levitz</a>.
		</p>
		<p>
			Tech: Python (Pyramid, SQLAlchemy), Javascript (AngularJS), AWS
		</p>
	</section>

	<section>
		<h4>Walla Media - VP of Technology</h4>
		<p>
			Architected innovative technology solutions and built/led combined onshore and offshore development team for this fast-moving profitable online marketing company with nearly $1M in monthly revenue and over 1M page visits a day. Enabled multiple business pivots with modular, reliable systems and platforms.
		</p>
		<p>
			Personally created domain-specific language / web framework to enable web designers to build hundreds of complex lead-generation websites using extensions of HTML 5. Included plug-in modules for external APIs, dynamic tracking of inbound calls, and implicit input validation and tracking.
		</p>
		<p>
			Tech: PHP (Symfony framework), JavaScript (Angular, React, Express)
		</p>
	</section>

	<section>
		<h4>Griffith Park Media - CTO</h4>
		<p>
			Built technology and team for this email marketing SaaS company. Platform managed and delivered email marketing campaigns, with detailed tracking that fed into a geo-demographic targeting and segmentation using statistical techniques. Technology competitive with or ahead of competition at the time (e.g. MailChimp)
		</p>
		<p>
			Tech: Java (J2EE), PHP, Javascript, MySQL
		</p>
	</section>

	<section>
		<h4>Massachusetts Institute of Technology - S.B. Physics</h4>
	</section>

	<section>
		<h4>MIT TEAL Program - Research Assistant</h4>
		<p>
			MIT Technology Enabled Active Learning (TEAL) was a pilot program at the time, but is now the standard way that MIT teaches introductory physics.
			Developed novel simulations and visualizations of electromagnetic fields and waves for use in the TEAL classroom.
		</p>
		<p>
			Tech: Java, 3D Studio Max
		</p>
	</section>
</Layout>
