---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
  description?: string;
  heroImage?: string;
}

const { title, description = '', heroImage } = Astro.props;
---

<BaseLayout title={title} description={description} heroImage={heroImage}>
  <article>
    <div class="hero-image">
      {heroImage && <img width={768} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <slot />
    </div>
  </article>
</BaseLayout>
